* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}
html {
  font-size: 10px;
}
body {
  background-color: #e6e2d4;
  font-size: 1.6rem;
  width: 100%;
}
li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: goldenrod;
}

/* nav */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #4d4d4d;
  color: #f0ae13;
}

.brand-title {
  font-size: 2rem;
  margin: 0.5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #f0ae13;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}
.navbar-links li a:hover {
  color: #f2f2f2;
}
.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;

}

.toggle-button .bar {
  height: 3px;
  width: 90%;
  background-color: #f0ae13;
  border-radius: 10px;
}
/*** header ***/
.header {
 
  display: grid;
  grid-template-columns: 0.7fr 1.5fr;
}
.aside_header {
  height: 350px;
  background-color: #ccc;

}
.foto_figure {
  text-align: center;
  height: 200px;
  justify-content: center;
  width: 100%;
  margin: 50px auto;
}
.foto_figure img {
  width: 250px;
  height: 250px;
  margin: auto auto;
  border: 5px solid white;
  border-radius: 20%;
  
}
.main_header {
  padding-top: 15%;
  padding-left: 20px;
  background-color: #ccc;
}
.header .main_header h1 {
  font-size: 4rem;
  font-family: "Raleway", sans-serif;
  color: black;
}
.main_header h1 .h1_span {
  margin-left: 10px;
  font-size: 5rem;
  font-family: "Comforter", cursive;
  color: #04aa6d;
}
.underlined-grey {
  width: 90%;
  height: 0.2rem;
  margin-top: 5rem;
  background-color: #f0ae13;
  opacity: 0.5;
}
.main_header h3 {
  font-size: 1.7rem;
  margin-top: 10px;
}

/*** MAIN ***/
.main_container { 
  border-style: none;
  height: 1200px;
}
.aside_container {
  width: 100%;
  background-color: #4d4d4d;
  color: #f2f2f2;
  padding-top: 10px;
}
.contact {
  height: 250px;
  margin-left: 30px;
}
.aside_container h4 {
  text-align: left;
  font-size: 2.2rem;
  background-color: #04aa6d;
  width: 95%;
  border-radius: 5px;
  padding-left: 10px;
}
.aside_container ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.aside_container li {
  width: 30%;
  padding-top:15px;
}
.contact-item i,
.skill-item i,
.education i {
  
  color: #f0ae13;
}
.contact-item span,
a,
.skill-item span,
.education a {
  margin-left: 15px;
}
.skills,
.education {
  margin-left: 30px;
  margin-top: 30px;
  height: 250px;
}
/*** main Section_container **/

.section_container {
  width: 100%;
  background-color: white;
}
.section_container h5 {
  text-align: left;
  font-size: 2.2rem;
  opacity: 0.6;
}
.about {
  letter-spacing: 0.8px;
  margin-left: 20px;
  height: 250px;
  padding-top: 20px;
}
.about p {
  line-height: 3rem;
  margin-top: 10px;
}
/*** Main section code **/
.code {
  margin-left: 20px;
  margin-top: 30px;
  height: 350px;
}
.codeDiv {
  font-size: 1.7rem;
  margin-top: 20px;
  margin-right: 5px;
  background-color: #e6e2d4;
  height: 300px;
  padding-left: 20px;
}
.codeDiv span {
  padding-left: 20px;
}

.myEnglish,
.myHobies {
  margin-left: 20px;
  margin-top: 30px;
  height: 250px;
  letter-spacing: 0.8px;
  line-height: 3rem;
  font-size: 1.8rem;
}
.myEnglish p,
.myHobies ul {
  margin-top: 20px;
}
h5 {
  width: 95%;
  background-color: #e6e2d4;
}
.myHobies li i {
  padding-right: 20px;
}

/**my projects ***/
.section_container .my-projects {
  height: 250px;
  width: 100%;
  margin-left: 20px;
}
.section_container .my-projects .projectContainer {
  display: flex;
  width: 95%;
  height: 200px;
  margin-right: 10px;
  margin-top: 10px;

}
.section_container .my-projects .projectContainer div {
  width: 25%;
  height: 200px;
  background-color: #04aa6d;
  margin-right: 20px;
  text-align: center;
  align-items: center;
  
}
.section_container .my-projects .projectContainer .galery {
  margin-right: 10px;
  background-image: url(assets/img/image-galery.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.section_container .my-projects .projectContainer .portfolio {
  margin-right: 10px;
  background-image: url(assets/img/portfolio.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.section_container .my-projects .projectContainer .audio {
  margin-right: 10px;
  background-image: url(assets/img/music-player.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.section_container .my-projects .projectContainer .galery a {
  color: black;
}
.section_container .my-projects .projectContainer .galery a:hover {
  color: #f0ae13;
}
.section_container .my-projects .projectContainer .eco {
  margin-right: 10px;
  background-image: url(assets/img/eco.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/*** Foooter ***/
.footer_container {
  height: 90px;
  margin-top: 1060px;
  color: black;
  
}

.footer_container div {
  display: flex;
  padding: 10px;
 
  
}

.footer_github img {
  width: 50px;
  color: #f0ae13;
  margin-right: 10px;
}
.footer_container p {
  margin-left: 30%;
  font-size: 4rem;
}
.rsschool {
  margin-left: 40%;
}
.rsschool img {
  width: 100px;
 
  
}

@media screen and (max-width: 830px) {
  .navbar,
  .main_container,
  .header {
    margin: 0 0;
    font-size: 1.7rem;
  }
  .navbar {
    width: 100%;
    font-size: 1.5rem;
    height: 50px;
   
  }
  .navbar-links ul 
  { 
    height: 100%;
    text-align: center;
  }
  .navbar-links ul li {
    padding-top: 10px;
  }
  .aside_header {
    width: 100%;
  }
 


  /*** main ***/
  .aside_container {
    width: 100%;
  }
  .main_container {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .main_container {
    margin: 0 0;
    font-size: 1.6rem;
  }
  /*** Navbar ***/
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: 50px;
    margin: 0px;
    text-align: center;
    
  }
  .brand-title {
    margin-top: 10px;
  }
  .toggle-button {
    display: flex;
    margin-top: 5px;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    z-index: 3;
  }

  .navbar-links ul li {
    text-align: center;
    background-color: #e6e2d4;
  }

  .navbar-links ul li a {
    padding: 1rem 2rem;

  }

  .navbar-links.active {
    display: flex;
  }
  
  /** header **/
  
  .foto_figure {
    width: 100%;
  }
  /** main **/
 
  .aside_container {
    width: 100%;
  }
  .contact,
  .skills,
  .education {
    margin-left: 5px;
  }
  .main_container {
    width: 100%;
  }
  .aside_container ul {
    display: block;
    margin-left: 30px;
  }
  .aside_container li{
    width: 100%;
  }
  /** main ***/

  /*** main code **/
  .codeDiv {
    font-size: 1.5rem;
  }
    
/** my projects **/
.section_container .my-projects {
  height: 500px;
  width: 100%;
  margin-left: 20px;
}
.section_container .my-projects .projectContainer {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  height: 400px;
  margin-right: 10px;
  margin-top: 10px;

}
.section_container .my-projects .projectContainer div {
  width: 45%;
  flex-wrap: wrap;
  height: 200px;
  margin-top: 10px;
  background-color: #04aa6d;
  margin-right: 20px;
  text-align: center;
  align-items: center;
  
}

  /** foooter **/
  .footer_container {
    height: 150px;
    margin-top: 1310px;
  
  }
  .footer_container div {
    grid-template-columns: auto auto;
   
  }
  /*** img **/
}

@media screen and (max-width: 520px) {
  * {
    font-size: 2rem;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
  }
  .aside_header {
    width: 100%;
    height: 100%;
  }
  .foto_figure {
    margin-top: 20px;
    
  }
  .foto_figure img {
      width: 230px;
      height: 230px;
  }
  .main_header {
    text-align: center;
    padding: 10%;
    width: 100%;
    background-color: #4d4d4d;
    color: orange;
  }
  .header .main_header h1 {
    color: orange;
  }
  /** MAIN **/
  .main_container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  /*** aside ***/
  .aside_container {
    width: 100%;
  }
  .contact,
  .skills,
  .education {
    margin-left: 30px;
  }
  .education {
    margin-top: 40px;
  }
  /*** section ***/
  .about {
    margin-top: 20px;
  }
  .footer_container {
  margin-top: 0%;
  }
  .footer_container div {
    grid-template-columns: auto auto;
   
  }
}

@media screen and (max-width: 520px) {
  * {
    font-size: 1.6rem;
  }
}
